beautifulsoup4==4.12.2
branca==0.6.0
cudf==23.10.0
cupy==12.2.0
dill==0.3.7
easydict==1.11
folium==0.14.0
geopandas==0.14.0
hdbscan==0.8.33
numpy==1.24.4
pandas==1.5.3
PyYAML==6.0.1
PyYAML==6.0.1
Requests==2.31.0
scipy==1.11.4
Shapely==2.0.2
simplification==0.7.9
tqdm==4.66.1
